* {
  /*border: 1px  solid red;*/
  background-color: #d3d3d3;
}
header {
  /*background-color: grey;*/
  text-align: center;
}
#tableBox {
  width: 90%;
  margin: auto;
  /*background-color: yellow;*/
}
table {
  width: 100%
}
table th {

  margin: auto;
  border: 2px solid black;
  border-collapse: collapse;
}
td {
  border: 1px solid grey;
}
