* {
  border: 1px solid #dab877;
  background-color: #dab877;
  margin: 0;
}
#logo {
  width: 820px;
  margin: auto;
  /*background-color: #ba7955;*/
}
#sideA{
  background-color: #464436;
  float: left;
  width: 10%;
}
#column1{
  float: left;
  width: 16%;
}
#column2{
  float: left;
  width: 16%;
}
#column3{
  float: left;
  width: 16%;
}
#column4{
  float: left;
  width: 16%;
}
#column5{
  float: left;
  width: 16%;
}
#sideb{
  background-color: #464436;
  float: left;
  width: 10%;
}
h1 {
  text-align: center;
}
h2 {
  margin: 5px 0;
}
